.caja_form {
  background-color: rgb(211, 231, 231);
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caja_form h2 {
  padding-bottom: 2rem;
}

.forma {
  display: flex;
  justify-content: center;
}

.caja_contenedora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(230, 212, 190);
  border: 1px solid rgb(136, 116, 116);
  border-radius: 10px;
  width: 350px;
  height: 380px;
}

.caja_contenedora h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

input {
  font-size: 1.2rem;
  padding: 14px 8px;
  border-radius: 10px;
  border: none;
  width: 320px;
}

.boton_submit {
  font-weight: 600;
  border: none;
  background-color: rgb(55, 55, 219);
  color: white;
  width: fit-content;
  border-radius: 10px;
  padding: 0.8rem;
  margin: 1rem 0;
}

.boton_enviar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
