@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.containernavbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 46, 45);
}

.logonike {
  height: 90px;
}


.navcart {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 0 1rem;
}

.buttonI {
  font-size: 20px;
  padding: 0px 2px;
  color: inherit;
  opacity: 0.8;
  color: rgb(255, 255, 255);
}
.buttonI:hover{
  border-bottom: 2px solid;
 font-weight: 700;
 color: rgb(80, 97, 158);
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.cc {
  background-color: beige;
  padding: 10px 1rem;
  color: #7F669D;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

