@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(45, 136, 152);
}

.Title{
    font-size: 2em;
    
}

.cart{
    font-size: 35px;
}

.nav-linkk{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    font-family: 'Oswald', sans-serif;
}

.Logo-Name{
    display: flex;
}

.logo-nike{
    height: 50px;
    padding: 0px 5px;
}

.links{
    display: flex;
}

